* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(177, 169, 169);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  position: relative;
}
.out-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.clock {
  position: relative;
  height: 450px;
  width: 450px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 30px white;
  animation: glow 2s infinite;
  border-radius: 50%;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 40px 40px white;
  }
  50% {
    box-shadow: 0 0 60px 20px white;
  }
  100% {
    box-shadow: 0 0 40px 40px white;
  }
}

.middle-dot {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.h {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 30px;
}
.hour-1 {
  top: 40px;
  right: 100px;
}
.hour-2 {
  top: 125px;
  right: 25px;
}
.hour-3 {
  top: 215px;
  right: 10px;
}
.hour-4 {
  top: 320px;
  right: 45px;
}
.hour-5 {
  top: 390px;
  right: 130px;
}
.hour-6 {
  bottom: 5px;
  left: 220px;
}
.hour-7 {
  top: 390px;
  left: 130px;
}
.hour-8 {
  top: 325px;
  left: 45px;
}
.hour-9 {
  top: 225px;
  left: 10px;
}
.hour-10 {
  top: 125px;
  left: 25px;
}
.hour-11 {
  top: 40px;
  left: 100px;
}
.hour-12 {
  top: 5px;
  left: 215px;
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.hour {
  position: absolute;
  height: 50px;
  width: 5px;
  top: 170px;
  left: 223px;
  background-color: aqua;
}
.minute {
  height: 80px;
  width: 4px;
  background-color: orangered;
  top: 150px;
  left: 223px;
}
.second {
  height: 100px;
  width: 3px;
  background-color: purple;
  top: 130px;
  left: 223px;
}

.c {
  position: absolute;
  height: 350px;
  width: 350px;
  left: 50px;
  top: 50px;
  border: 2px solid rgb(26, 25, 25);
  border-radius: 50%;
}
.dot {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  top: 50%;
  left: 120px;
  transform: translateX(-50%);
}
.hour .dot {
  background-color: aqua;
  top: -85px;
  left: 0;
  box-shadow: 0 0 20px aqua;
}
.minute .dot {
  background-color: orangered;
  top: -70px;
  left: 0;
  box-shadow: 0 0 10px orangered;
}
.second .dot {
  background-color: purple;
  top: -81px;
  left: 0;
  box-shadow: 0 0 10px purple;
}
.a.hour,
.a.minute,
.a.second {
  position: absolute;
  transform-origin: bottom center;
}
.circle-2 {
  height: 300px;
  width: 300px;
  left: 75px;
  top: 75px;
}
.circle-3 {
  height: 250px;
  width: 250px;
  left: 100px;
  top: 100px;
}
.clock-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 15px;
  border-radius: 40px;
  color: white;
  margin-left: 250px;

}
.clock-time .ampm {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.number {
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 50px;
  color: rgb(95, 2, 2);
  font-weight: bold;
  font-size: 30px;
  background-color: gray;
  width: 400px;
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 70px;
}
body.dark-mode {
  background-color: #1c1c1c;
  color: white;
}
